* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    padding-bottom: 70px;
}

/* -------------------- Nav -------------------- */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 40px;

}

#logo img {
    height: 40px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.nav-links {
    display: flex;
    justify-content: center;
    gap: 45px;
}

.right-links {
    display: flex;
    align-items: center;
    gap: 40px;
}

a:hover,
.nav-links a.active {
    color: #6583fb;
}

.right-links i {
    color: white;
    margin-right: 5px;
}

body::before {
    content: "";
    display: block;
    height: 70px;
}

/* -------------------- Footer -------------------- */
.footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

.footer a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
    font-weight: 500;
}

.footer a:hover {
    color: #6583fb;
}

.right-footer i {
    font-size: 20px;
    transition: 0.3s;
}

.right-footer i:hover { 
    color: #6583fb; 
}


